<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List 2023</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <form class="search-form" id="search-form" action="/search" method="get" autocomplete="off">
            <input type="text" class="search-field clearable" placeholder="Search" id="search-field">
            <button class="search-btn" type="submit">
                <svg class="search-btn-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 20" width="21" height="20">
                    <path fill="none" fill-rule="evenodd" stroke-width="2" stroke="#fff" d="M8 1c3.866 0 7 3.134 7 7s-3.134 7-7 7-7-3.134-7-7 3.134-7 7-7zm6.25 12.25l5.5 5.5"></path>
                </svg>
            </button>
            <button class="clear-btn clear-btn-spacing" type="button" id="clear-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="14" height="14">
                    <path fill="none" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M1.6 1.6l12.8 12.8m-12.8 0L14.4 1.6"></path>
                </svg>
            </button>
        </form>
    </header>

    <main>
        <h1>Task List 2023</h1>
        <form id="new-task-form" action="/" method="post" autocomplete="off">
            <input type="text" id="new-task-input" placeholder="Task name" name="taskValue" required/>
            <input type="submit" id="new-task-submit" value="Add task"/>
        </form>

        <section class="task-list">
            <h2 id="upcoming-header">Upcoming</h2>
                <div id="upcoming-tasks">
                    <% upcomingTasks.forEach(todoValue => { %>
                        <div class="task">
                            <div class="content">
                                <input type="text" class="text" value="<%= todoValue.todo %>" readonly/>
                            </div>
                            <div class="actions">
                                <button class="edit" data-task-id="<%= todoValue.id %>">Edit</button>
                                <button class="status" data-task-id="<%= todoValue.id %>">Done</button>
                                <button class="delete <%= todoValue.id %>">Delete</button>
                            </div>
                        </div>
                    <% }) %>
                </div>
        </section>

        <section class="task-list">
            <h2 id="done-header">Done</h2>
                <div id="done-tasks">
                    <% doneTasks.forEach(todoValue => { %>
                        <div class="task">
                            <div class="content">
                                <input type="text" class="text" value="<%= todoValue.todo %>" readonly/>
                            </div>
                            <div class="actions">
                                <button class="edit" data-task-id="<%= todoValue.id %>">Edit</button>
                                <button class="status" data-task-id="<%= todoValue.id %>">Undone</button>
                                <button class="delete <%= todoValue.id %>">Delete</button>
                            </div>
                        </div>
                    <% }) %>
                </div>
        </section>
    </main>
    <script src="/main.js"></script>
</body>
</html>